<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>买家登录</title>
</head>
<body>
<form name="myForm" class="form-signin" action="/buyer/login" method="post">
    <div>
        <input type="text" name="username" id="username" placeholder="用户名"/>
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="密码"/>
    </div>
    <button type="submit" style="margin-top:15px;">登 录</button>
    <button type="button" style="margin-top:15px;" onclick="location.href='/buyer/logout'">注 销</button>
</form>
<a>==================================================================================================</a>
<form name="myForm2" class="form-signin" action="/buyer/cart/add" method="post">
    <div>
        <input type="text" name="productId" id="productId" placeholder="商品ID"/>
    </div>
    <div>
        <input type="text" name="productSize" id="productSize" placeholder="尺码"/>
    </div>
    <div>
        <input type="text" name="productQuantity" id="productQuantity" placeholder="数量"/>
    </div>
    <div>
        <input type="text" name="productColor" id="productColor" placeholder="颜色"/>
    </div>
    <button type="submit" style="margin-top:15px;">添加购物车</button>
</form>
<a>==================================================================================================</a>
<form name="myForm3" class="form-signin" action="/buyer/order/create" method="post">
    <div>
        <input type="text" name="buyerId" id="buyerId" placeholder="买家ID"/>
    </div>
    <div>
        <input type="text" name="buyerName" id="buyerName" placeholder="姓名"/>
    </div>
    <div>
        <input type="text" name="buyerPhone" id="buyerPhone" placeholder="电话"/>
    </div>
    <div>
        <input type="text" name="buyerAddress" id="buyerAddress" placeholder="地址"/>
    </div>
    <div>
        <input type="text" name="items" id="items" placeholder="订单内容"/>
    </div>
    <div>
        <input type="text" name="orderRemark" id="orderRemark" placeholder="订单备注"/>
    </div>
    <button type="submit" style="margin-top:15px;">下单</button>
</form>
<a>==================================================================================================</a>
<form name="myForm4" class="form-signin" action="/buyer/address/save" method="post">
    <div>
        <input type="text" name="buyerName" placeholder="姓名"/>
    </div>
    <div>
        <input type="text" name="buyerPhone" placeholder="电话"/>
    </div>
    <div>
        <input type="text" name="buyerAddress" placeholder="地址"/>
    </div>
    <button type="submit" style="margin-top:15px;">添加常用地址</button>
</form>
</body>
</html>